/* Root variables */

:root {
  --main-font-family: Inter, sans-serif;
  --fantasy-font-family: "Press Start 2P", fantasy;
  --heart-color: #ff0000;
  --page-background: #fff;
  --background-color: #d3d3d3;
  --background-color-start: #e7e7e7;
  --background-color-end: #1a1a1a;
  --title-font-weight: "wght" 700;
  --text-font-weight: "wght" 400;
  --text-color: #000;
  --text-icon-light: var(--page-background);
  --text-icon: var(--page-background);
  --background-image: repeating-linear-gradient(
    to right,
    var(--background-color),
    var(--background-color) 2px,
    transparent 2px,
    transparent 4px
  ),
  repeating-linear-gradient(
    to bottom,
    var(--background-color),
    var(--background-color) 2px,
    transparent 2px,
    transparent 4px
  ),
  linear-gradient(var(--background-color-start), var(--background-color-end)),
  linear-gradient(
    var(--background-color-start) 0.01%,
    var(--background-color-end) 100%
  );
}

:root.theme-light {
  --page-background: #fff;
  --background-color: #d3d3d3;
  --background-color-start: #e7e7e7;
  --background-color-end: #1a1a1a;
  --title-font-weight: "wght" 700;
  --text-font-weight: "wght" 400;
  --text-color: #000;
  --text-icon-light: var(--page-background);
  --text-icon: var(--page-background);
  --background-image: repeating-linear-gradient(
      to right,
      var(--background-color),
      var(--background-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--background-color),
      var(--background-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(var(--background-color-start), var(--background-color-end)),
    linear-gradient(
      var(--background-color-start) 0.01%,
      var(--background-color-end) 100%
    );
}

:root.theme-dark {
  --page-background: #000;
  --background-color: #000;
  --background-color-start: #007f0c;
  --background-color-end: #004306;
  --title-font-weight: "wght" 785;
  --text-font-weight: "wght" 465;
  --text-color: #00cc14;
  --text-icon: #00cc14;
  --background-image: repeating-linear-gradient(
      to right,
      var(--background-color),
      var(--background-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--background-color),
      var(--background-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(var(--background-color-start), var(--background-color-end));
}
